body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F5F5F5;
    padding-top: 80px;
}

a {
    color: #131516;
}

a :hover {
    color: #373D3F;
}

.panel:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
